@model List<HotelProject.EntityLayer.Concrete.AppUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="table-responsive">
    <table class="table table-xs mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Ad Soyad</th>
                <th>City</th>
                <th>Status</th> 
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td><img src="@item.ImageURL" class=" rounded-circle mr-3" alt=""></td>
                    <td>@item.Name @item.Surname</td>
                    <td>
                        <span>@item.City</span>
                    </td>
                    <td><i class="fa fa-circle-o text-success  mr-2"></i> Active</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a href="/Register/Index/" class="btn btn-rounded btn-outline-primary">New User</a>
</div>
