@model List<ResultGuestDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr style="font-size:11px !important;">
                <td colspan="5" class="text-center text-danger">There is no data.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                count++;
                <tr style="font-size:11px !important;">
                    <td>@count</td>
                    <td>@item.Name</td>
                    <td>@item.Surname</td>
                    <td>@item.City</td>
                    <td>
                        <a style="font-size:11px !important;" href="/AdminGuest/DeleteGuest/@item.GuestID" onclick="return confirm('Are you sure you want to delete this data?');" class="btn btn-rounded btn-outline-danger">Delete</a>
                        <a style="font-size:11px !important;" href="/AdminGuest/UpdateGuest/@item.GuestID" class="btn btn-rounded btn-outline-secondary">Update</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a style="font-size:11px !important;" href="/AdminGuest/AddGuest/" class="btn btn-rounded btn-outline-info">Add New Guest</a>
