<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="fa fa-braille menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Default/Index/" aria-expanded="false">
                    <i class="fa fa-angle-double-right menu-icon"></i><span class="nav-text">Go To Site</span>
                </a>
            </li>
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="fa fa-info-circle menu-icon"></i><span class="nav-text">About</span>
                </a>
            </li>
            <li>
                <a href="/AdminStaff/Index/" aria-expanded="false">
                    <i class="fa fa-address-book menu-icon"></i><span class="nav-text">Employees</span>
                </a>
            </li>
            <li>
                <a href="/AdminTestimonial/Index/" aria-expanded="false">
                    <i class="fa fa-anchor menu-icon"></i><span class="nav-text">References</span>
                </a>
            </li>
            <li>
                <a href="/AdminService/Index/" aria-expanded="false">
                    <i class="fa fa-tags menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/AdminBooking/Index/" aria-expanded="false">
                    <i class="fa fa-calendar-o menu-icon"></i><span class="nav-text">Bookings</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="fa fa-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/AdminGuest/Index/" aria-expanded="false">
                    <i class="fa fa-users menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="fa fa-envelope menu-icon"></i><span class="nav-text">Messages</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="fa fa-reply menu-icon"></i><span class="nav-text">Mail</span>
                </a>
            </li>
            <li>
                <a href="/AdminImageFile/Index/" aria-expanded="false">
                    <i class="fa fa-file menu-icon"></i><span class="nav-text">Upload Image</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="fa fa-paperclip menu-icon"></i><span class="nav-text">Upload File</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index/" aria-expanded="false">
                    <i class="fa fa-diamond menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false">
                    <i class="fa fa-cubes menu-icon"></i><span class="nav-text">Work Locations</span>
                </a>
            </li>
            <li>
                <a href="/Role/Index/" aria-expanded="false">
                    <i class="fa fa-snowflake-o menu-icon"></i><span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a href="/RoleAssign/Index/" aria-expanded="false">
                    <i class="fa fa-blind menu-icon"></i><span class="nav-text">Role Assign</span>
                </a>
            </li>
            <li>
                <a href="/Settings/Index/" aria-expanded="false">
                    <i class="fa fa-cog menu-icon"></i><span class="nav-text">Settings</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false">
                    <i class="fa fa-sign-out menu-icon"></i><span class="nav-text">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>
