<!-- Video Start -->
<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
                <h1 class="text-white mb-4">Discover A Brand Luxurious Hotel</h1>
                <p class="text-white mb-4">Explore the essence of luxury and warmth in our exclusive hotel. 
                    From stylish accommodations to top-notch amenities, our video showcases the unparalleled 
                    experience that awaits you at Mert. Immerse yourself in the enchanting ambiance, impeccable 
                    service, and the vibrant energy that defines our hospitality. Join us on a visual journey and 
                    envision the perfect escape that awaits at Mert.</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Our Rooms</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Book A Room</a>
            </div>
        </div>
        <div class="col-md-6">
            <iframe width="720" height="520" src="https://www.youtube.com/embed/4K6Sh1tsAW4?si=8lRaNry3E8wIXxkm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- Video Start -->