@model UpdateTestimonialViewModel
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="TestimonialID" />
    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Comment</label>
    <input type="text" asp-for="Comment" class="form-control" />
    <br />
    <label>Cover Img URL</label>
    <input type="text" asp-for="CoverImg" class="form-control" />
    <br />
    <button class="btn btn-rounded btn-outline-primary">Save Changes</button>
    <a href="/Testimonial/Index/" class="btn btn-rounded btn-outline-secondary">Cancel</a>
</form>

