@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>FP Title</th>
            <th>SP Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>Image</th>
            <th>Image</th>
            <th>Image</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr style="font-size:11px !important;">
                <td colspan="5" class="text-center text-danger">There is no data.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr style="font-size:11px !important;">
                    <td>@item.Title1</td>
                    <td>@item.Title2</td>
                    <td>@item.Content</td>
                    <td><a style="font-size:11px !important;" href="/About/UpdateAbout/@item.AboutID" class="btn btn-rounded btn-outline-secondary">Update</a></td>
                </tr>
            }
        }
    </tbody>
</table>