@model CreateUserDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/register-page/style.css" rel="stylesheet" />

    <title>Register Page</title>
</head>
<body>
    <section>
        <div class="login-box">
            <form method="post">
                <div class="input-box">
                    <span asp-validation-for="Name" class="text-danger" style="color:red;"></span>
                    <span class="icon"><ion-icon name="bookmark-outline"></ion-icon></span>
                    <input type="text" asp-for="Name">
                    <label>Name</label>
                </div>
                <div class="input-box">
                    <span asp-validation-for="Surname" class="text-white" style="color:red;"></span>
                    <span class="icon"><ion-icon name="bookmarks-outline"></ion-icon></span>
                    <input type="text" asp-for="Surname">
                    <label>Surname</label>
                </div>
                <div class="input-box">
                    <span asp-validation-for="Username" class="text-white" style="color:red;"></span>
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <input type="text" asp-for="Username">
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <span asp-validation-for="Mail" class="text-white" style="color:red;"></span>
                    <span class="icon"><ion-icon name="mail"></ion-icon></span>
                    <input type="email" asp-for="Mail">
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span asp-validation-for="Password" class="text-white" style="color:red;"></span>
                    <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" asp-for="Password">
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span asp-validation-for="ConfirmPassword" class="text-white" style="color:red;"></span>
                    <span class="icon"><ion-icon name="checkmark-outline"></ion-icon></span>
                    <input type="password" asp-for="ConfirmPassword">
                    <label>Confirm Password</label>                   
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Remember Me</label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit">Register</button>
                <div class="register-link">
                    <p>You already have an account? <a href="/Login/Index/">Login</a></p>
                </div>
            </form>
        </div>
    </section>


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
