@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Title</th>
            <th>Comment</th>
            <th>Actions</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count == 0)
        {
            <tr style="font-size:11px !important;">
                <td colspan="5" class="text-center text-danger">There is no data.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr style="font-size:11px !important;">
                    <td><img src="@item.CoverImg" alt="" style="width:50px; height:50px; border-radius: 50%;"/></td>
                    <td>@item.Name</td>
                    <td>@item.Title</td>
                    <td>@item.Comment</td>
                    <td>
                        <a style="font-size:11px !important;" href="/AdminTestimonial/DeleteTestimonial/@item.TestimonialID" onclick="return confirm('Are you sure you want to delete this item?');" class="btn btn-rounded btn-outline-danger">Delete</a>
                        <a style="font-size:11px !important;" href="/AdminTestimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-rounded btn-outline-secondary">Update</a>
                    </td>
                    <td>
                        <a style="font-size:11px !important;" href="#" class="btn btn-rounded btn-outline-dark">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="/AdminTestimonial/AddTestimonial/" style="font-size:11px !important;" class="btn btn-rounded btn-outline-info">Create New Comment</a>

