
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <div class="container-xxxl bg-white p-0">
        <!--Spinner-->
        @await Component.InvokeAsync("_SpinnerPartial")
        <!--Navbar-->
        @await Component.InvokeAsync("_NavHeaderPartial")
       
        @await Component.InvokeAsync("_BookingCoverImgPartial")
        
        <div id="createBooking">
            @await Html.PartialAsync("/Views/Booking/AddBooking.cshtml")
        </div>

        <!--Subscribe Section-->
        <div id="subscribeSection">
        @await Html.PartialAsync("/Views/Default/_SubscribePartial.cshtml")
        </div>
        <!--Footer Section-->
        @await Component.InvokeAsync("_FooterPartial")

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!--Java Scripts-->
    @await Component.InvokeAsync("_ScriptsPartial")
</body>

</html>